<select [(ngModel)]="currentChartType" 
(change)="showChartAs($event.target.value)"> 
<option *ngFor="let displayType of displayTypes" value={{displayType}}>{{displayType|uppercase}}</option>
</select>

<kendo-chart [categoryAxis]="{ categories: categories }"
(seriesClick)="onSeriesClick($event)">
  <kendo-chart-title text="{{title}}"></kendo-chart-title>
  <kendo-chart-legend visible="false" position="top" orientation="horizontal"></kendo-chart-legend>
  <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
  <kendo-chart-series>
      <kendo-chart-series-item [type]="currentChartType" [data]="chartData" >
      </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>